# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Model weights and large files
*.h5
*.pickle

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
